:root {
    /* Orange background */
    --primary:#F8C555;
    /*--primary-hover:#;*/

    --secondary:#DC9A09;
    /*--secondary-hover:#;*/

    --muted:#666666;
}

/* Font Catamaran */
@font-face {
  font-family: 'Catamaran';
  src: url('../fonts/Catamaran/static/Catamaran-ExtraLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../fonts/Catamaran/static/Catamaran-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../fonts/Catamaran/static/Catamaran-SemiBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../fonts/Catamaran/static/Catamaran-ExtraBold.ttf') format('truetype');
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6, label {
  color: var(--muted);
}

body {
  font-family: 'Catamaran', system-ui, Arial, sans-serif;
}

p {
  text-align: justify;
  line-height: 1.8;
}

.text-muted {
  color: var(--muted);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1340px;
  }
}

main section h1 {
  font-weight: 900 !important;
}

main #do-it {
  margin-left: -12px;
}

/*----------------------------------
  Buttons
------------------------------------*/

.btn-primary {
  background-color: var(--primary);
  border: 0;
}
.btn-secondary {
  background-color: var(--secondary);
  border: 0;
}
.btn-primary:hover {
  background-color: var(--primary-hover);
  border: 0;
}
.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}
.btn-outline-primary:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.btn-outline-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}
.btn-outline-secondary:hover {
  background-color: var(--secondary-hover);
  border-color: var(--secondary-hover);
}

.btn-secondary:hover {
  background-color: var(--secondary-hover);
  border: 0;
}

.btn-outline-dark {
  border: solid 3px black;
}

.btn-outline-dark:hover {
  color: black;
  /*border: solid 4px var(--secondary);*/
  box-shadow: 0 8px 15px -5px #C69E44;
}

.button--other {
  font-size: 18px;
  border-radius: 16px;
}

label {
  margin: 0;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

@media print {
  header, footer, aside, nav, form {
    display: none;
  }
  @page { 
    margin-left: 0;
    margin-right: 0;
  }
  body { 
    margin: 1.6cm;
  }
}

header .btn .feather,
.input-group-text .feather {
	width: 18px;
	height: 18px;
}

main ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: white; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* Header */

header.navbar {
  padding: 0;
}

header .container-fluid {
  padding: 0;
}

header .navbar-brand img {
  height: auto;
}

header .social-icons {
    max-height: 24px;
}

header .display-1 .feather {
	width: 52px;
	height: 52px;
}

/* Banner */

section.banner .container {
  max-width: 1400px;
}

section.banner h1 {
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

section.banner h3 {
  line-height: 1.4;
}

section.banner #add_alby_btn {
  display: flex;
}

section.banner .banner-social-links {
  display: none;
  justify-content: center;
  gap: 20px;
}

section.banner .banner-social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 3px solid black;
  border-radius: 100px;
}

section.banner .banner-image img {
  height: auto;
}

/* Unique to mobile */

/*@media only screen and (max-width: 639px) {*/
@media only screen and (max-width: 1023px) {
  header.navbar .container-fluid {
    justify-content: center;
    padding-top: 20px;
  }

  header .navbar-nav {
    display: none;
  }

  header .navbar-brand img {
    width: 200px;
  }

  section.banner .banner-copy {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  section.banner h1 {
    font-size: 40px;
    text-align: center;
  }

  section.banner h3 {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
  }

  section.banner #add_alby_btn {
    margin-top:  20px;
    justify-content: center;
  }

  section.banner #do-it {
    display: none;
  }

  section.banner .banner-social-links {
    display: flex;
  }

  section.banner .banner-image {
    margin-top: 50px;
    text-align: center;
  }
}

/* Unique to tablet */

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  header .navbar-brand img {
    width: 138px;
  }

  section.banner h1 {
    font-size: 68px;
  }

  section.banner h3 {
    margin-top: 10px;
    font-size: 22px;
  }
}

/* Unique to desktop */

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  header.navbar {
    padding: 20px 40px;
  }

  header .navbar-brand img {
    width: 138px;
  }

  header .navbar-nav {
    align-items: center;
    gap: 20px;
  }

  section.banner  {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  section.banner .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
  }

  section.banner .banner-copy {
    width: auto;
    max-width: none;
    flex-shrink: 1;
    flex-basis: 50%;
  }

  section.banner .banner-social-links {
    display: none;
  }

  section.banner .banner-image {
    width: auto;
    max-width: none;
    flex-basis: 50%;
    flex-shrink: 0;
  }

  section.banner h1 {
    font-size: 80px;
  }

  section.banner h3 {
    margin-top: 15px;
    font-size: 24px;
  }
}
